@page "{id:int}"
@model EditModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pt-BR">
<body>
    <div class="container ">
        <h2 class="mb-2 text-center" style="font-family: 'Dancing Script', cursive; font-size: 1.5rem; color: #4A4A4A;">Editar</h2>

        <form asp-action="Edit">
            <input type="hidden" asp-for="Despesas.Id" />
            <div class="mt-4">
            <div class="form-group">
                <label asp-for="Despesas.Descricao"></label>
                <input asp-for="Despesas.Descricao" class="form-control" />
                <span asp-validation-for="Despesas.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Despesas.Data"></label>
                <input asp-for="Despesas.Data" class="form-control" id="data"
                       type="date"
                       required />
                <span asp-validation-for="Despesas.Data" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div>
            @if (!string.IsNullOrEmpty(Model.Despesas.Anexo))
            {
                var isPdf = Model.Despesas.Anexo.StartsWith("JVBER") || Model.Despesas.Anexo.StartsWith("0M8R4") || Model.Despesas.Anexo.StartsWith("UEsDB");
                var mimeType = isPdf ? "application/pdf" : "image/png";
                <a href="data:@mimeType;base64,@Model.Despesas.Anexo" download="anexo_@Model.Despesas.Id.@(isPdf ? "pdf" : "png")" class="btn btn-outline-secondary btn-sm">Baixar Anexo</a>
            }
        </div>
        <div class="form-group">
                    <label asp-for="Despesas.Valor"></label>
                    <input asp-for="Despesas.Valor" class="form-control" type="number" step="0.01" min="0" />
                    <span asp-validation-for="Despesas.Valor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Despesas.Detalhes"></label>
                    <input asp-for="Despesas.Detalhes" class="form-control" />
                    <span asp-validation-for="Despesas.Detalhes" class="text-danger"></span>
                </div>         
        <div class="text-center">
            <!-- Centraliza o botão de salvar -->
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a asp-page="/Despesas/Index" class="btn btn-outline-primary">Voltar</a>
        </div>
        </form>
    </div>

</body>
</html>
