@page
@model CreateModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Novo Irmão";
}

<!DOCTYPE html>
<html lang="pt-BR">
<body>
    <div class="container">
        <h2 class="mb-2 text-center" style="font-family: 'Dancing Script', cursive; font-size: 1.5rem; color: #4A4A4A;">Novo</h2>

        <form method="post" id="createForm" enctype="multipart/form-data" onsubmit="removerMascaras()">
            <div class="form-group">
                <label>Imagem</label>
                <input type="file" name="imagemFile" accept=".jpg,.png" class="form-control" onchange="previewImage(event)" />
                <span asp-validation-for="Irmao.Imagem" class="text-danger"></span>
                @if (!string.IsNullOrEmpty(Model.Irmao.Imagem))
                {
                    <img src="data:image/png;base64,@Model.Irmao.Imagem" alt="Imagem do Cliente" style="width:100px; height:auto; margin-top:10px;" />
                }
                <img id="imagePreview" src="#" alt="Preview" style="display:none; width:100px; height:auto; margin-top:10px;" />
            </div>
            <div class="form-group">
                <label asp-for="Irmao.Nome"></label>
                <input asp-for="Irmao.Nome" class="form-control" />
                <span asp-validation-for="Irmao.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Irmao.CPF"></label>
                <input asp-for="Irmao.CPF" class="form-control" id="cpf"
                       type="text"
                       maxlength="14"
                       pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
                       placeholder="000.000.000-00"
                       oninput="formatarCPF(this)"
                       required />
                <span asp-validation-for="Irmao.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Telefone Celular</label>
                <input asp-for="Irmao.TelefoneCelular" class="form-control" id="telefoneCelular"
                       type="text"
                       maxlength="15"
                       placeholder="(00) 00000-0000"
                       oninput="formatarTelefone(this, 'celular')" />
                <span asp-validation-for="Irmao.TelefoneCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Telefone Fixo</label>
                <input asp-for="Irmao.TelefoneFixo" class="form-control" id="telefoneFixo"
                       type="text"
                       maxlength="14"
                       placeholder="(00) 0000-0000"
                       oninput="formatarTelefone(this, 'fixo')" />
                <span asp-validation-for="Irmao.TelefoneFixo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Irmao.Email"></label>
                <input asp-for="Irmao.Email" class="form-control" />
                <span asp-validation-for="Irmao.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Irmao.DataNascimento"></label>
                <input asp-for="Irmao.DataNascimento" class="form-control" type="date" />
                <span asp-validation-for="Irmao.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Irmao.Sexo"></label>
                <select asp-for="Irmao.Sexo" class="form-control">
                    <option value="">Selecione</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                </select>
                <span asp-validation-for="Irmao.Sexo" class="text-danger"></span>
            </div>
            <br />
            <div class="text-center">
                <!-- Centraliza o botão de salvar -->
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a asp-page="/Irmaos/Index" class="btn btn-outline-primary">Voltar</a>
            </div>
        </form>
    </div>

    <script>

        function previewImage(event) 
        {
            const imagePreview = document.getElementById('imagePreview');
            imagePreview.src = URL.createObjectURL(event.target.files[0]);
            imagePreview.style.display = 'block';
        }

        function formatarCPF(campo) 
        {
            // Remove todos os caracteres que não são dígitos
            let cpf = campo.value.replace(/\D/g, '');

            // Formata o CPF
            if (cpf.length <= 11) {
                cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
                cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
                cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
            }

            // Atualiza o valor do campo
            campo.value = cpf;
        }

        function formatarTelefone(campo,tipo) 
        {
            // Remove todos os caracteres que não são dígitos
            let telefone = campo.value.replace(/\D/g, '');

            if (tipo === 'celular') {
                // Formata o telefone celular
                if (telefone.length <= 11) {
                    telefone = telefone.replace(/(\d{2})(\d)/, '($1) $2'); // Adiciona parênteses
                    telefone = telefone.replace(/(\d{5})(\d)/, '$1-$2'); // Adiciona o traço
                }
            }
            else if (tipo === 'fixo') {
                // Formata o telefone fixo
                if (telefone.length <= 10) {
                    telefone = telefone.replace(/(\d{2})(\d)/, '($1) $2'); // Adiciona parênteses
                    telefone = telefone.replace(/(\d{4})(\d)/, '$1-$2'); // Adiciona o traço
                }
            }
            // Atualiza o valor do campo
            campo.value = telefone;
        }

        function removerMascaras() 
        {
            const cpf = document.getElementById('cpf');
            const celular = document.getElementById('telefoneCelular');
            const fixo = document.getElementById('telefoneFixo');

            // Remove máscaras
            cpf.value = cpf.value.replace(/\D/g, '');
            celular.value = celular.value.replace(/\D/g, ''); 
            fixo.value = fixo.value.replace(/\D/g, ''); 
        }

    </script>

</body>
</html>
