@page "{id:int}"
@model DeleteModel
@{
    Layout = "_Layout";
}

<h2 class="mb-2 text-center" style="font-family: 'Dancing Script', cursive; font-size: 1.5rem; color: #4A4A4A;">Excluir</h2>

<div>
    <h5>Você tem certeza que deseja excluir o irmão @Model.Irmao.Nome ?</h5>
    <form method="post">
        <input type="hidden" asp-for="Irmao.Id" />
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a asp-page="/Irmaos/Index" class="btn btn-outline-primary">Voltar</a>
    </form>
</div>