@page
@model PaymentModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Pagamento";
}

<body>

    <h2>QR Code de Pagamento</h2>
    <div class="form-group">
        <form method="post">
            <table class="table table-striped table-bordered">
                @if (!string.IsNullOrEmpty(Model.QrCodeImage))
                {
                    <div class="form-group">
                        <img src="data:image/png;base64,@Model.QrCodeImage" alt="QR Code" style="align-content:center" />
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <p>Não foi possível gerar o QR Code, tente novamente mais tarde</p>
                    </div>
                }
                <a asp-page="/Pedidos/Index" class="btn btn-primary">Voltar</a>
            </table>
        </form>
    </div>

</body>