@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/logo3.png" style="max-width: 100px;" alt="Logo" />
    <br />
    <blockquote class="blockquote" style="margin-bottom: 1.2rem;">
        <p class="mb-0">"Alegrai-vos sempre no Senhor; outra vez digo: alegrai-vos!"</p>
        <p><footer class="blockquote-footer">Filipenses 4:4</footer></p>
    </blockquote>

    <blockquote class="blockquote" style="margin-bottom: 1.2rem;">
        <p class="mb-0">"Confia no Senhor de todo o teu coração e não te estribes no teu próprio entendimento."</p>
        <p><footer class="blockquote-footer">Provérbios 3:5</footer></p>
    </blockquote>

    <blockquote class="blockquote" style="margin-bottom: 1.2rem;">
        <p class="mb-0">"E conhecereis a verdade, e a verdade vos libertará."</p>
        <p><footer class="blockquote-footer">João 8:32</footer></p>
    </blockquote>

    <blockquote class="blockquote" style="margin-bottom: 1.2rem;">
        <p class="mb-0">"O Senhor é o meu pastor; nada me faltará."</p>
        <p><footer class="blockquote-footer">Salmo 23:1</footer></p>
    </blockquote>
</div>
