@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/logo3.png" style="max-width: 100px;" alt="Logo" />
    <br />

    @foreach (var frase in Model.Frases)
    {
        <blockquote class="blockquote" style="margin-bottom: 1.2rem;">
            <p class="mb-0">"@frase.Passagem"</p>
            <p>
                <footer class="blockquote-footer">"@frase.Livro - @frase.Capitulo, @frase.Versiculo"</footer>
            </p>
        </blockquote>
    }
</div>
