@page
@model CreateModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Novo Evento";
}

<!DOCTYPE html>
<html lang="pt-BR">
<body>
    <div class="container">
        <h2 class="mb-2 text-center" style="font-family: 'Dancing Script', cursive; font-size: 1.5rem; color: #4A4A4A;">Novo</h2>

        <form method="post" id="createForm" enctype="multipart/form-data" asp-action="Create">
            <div class="mt-4">
                <div class="form-group">
                    <label asp-for="Evento.Descricao"></label>
                    <input asp-for="Evento.Descricao" class="form-control" />
                    <span asp-validation-for="Evento.Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Evento.Data"></label>
                    <input asp-for="Evento.Data" class="form-control" id="data"
                           type="date"
                           required />
                    <span asp-validation-for="Evento.Data" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Evento.Horario"></label>
                    <input asp-for="Evento.Horario" class="form-control" id="hora"
                           type="time"
                           required />
                    <span asp-validation-for="Evento.Horario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Detalhes</label>
                    <textarea asp-for="Evento.Detalhes" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Evento.Detalhes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input asp-for="Evento.TipoEvento" class="form-check-input" type="radio" value="1" />
                        <label class="form-check-label">Evento Aberto</label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Evento.TipoEvento" class="form-check-input" type="radio" value="2" />
                        <label class="form-check-label">Evento Restrito</label>
                    </div>
                    <span asp-validation-for="Evento.TipoEvento" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="text-center">
                <!-- Centraliza o botão de salvar -->
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a asp-page="/Eventos/Index" class="btn btn-outline-primary">Voltar</a>
            </div>
        </form>

</body>
</html>
