<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Yeshuapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: #f7f3e9;
            font-family: 'Cinzel', serif;
            margin: 0;
            padding: 0;
            font-size: 15px;
        }

        header {
            background-color: #fff; /* Cor clara para header */
        }

        .navbar {
            background-color: #fff; /* Navbar com fundo branco */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
        }

        .navbar-brand img {
            max-width: 50px;
            height: auto;
        }

        footer.footer {
            background-color: #fff; /* Cor clara no footer */
            padding: 1rem 0;
            font-size: 0.8rem;
            text-align: center;
            color: #888;
        }

        .login-container {
            margin-top: 40px;
            background-color: #fff;
            border-radius: 8px;
            padding: 22px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
            font-size: 1rem;
        }

        .form-control {
            border-radius: 4px;
            font-size: 0.95rem;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            padding: 8px;
            width: 100%;
            font-size: 0.98rem;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light border-bottom">
            <div class="container d-flex align-items-center justify-content-between">
                <a class="navbar-brand" asp-area="" asp-page="/Login">
                    <img src="~/logo3.png" alt="Logo" />
                </a>
                <div class="d-flex gap-2">
                    <a href="/PedidoOracao/Create" class="btn btn-outline-primary btn-sm" role="button" aria-label="Pedir Oração">Peça sua Oração</a>
                    <a href="/Visitantes/Create" class="btn btn-outline-primary btn-sm" role="button" aria-label="Cadastro Visitante">Sou visitante</a>
                    <a href="/Eventos/IndexDeslogado" class="btn btn-outline-primary btn-sm" role="button" aria-label="Ver eventos">Acompanhe nossa agenda</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; @DateTime.Now.Year - Deus te abençoe
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
